<div class="page">
<h2>お問い合わせ</h2>
<p>要望や不具合報告は、<a href="https://twitter.com/MrYhira" target="_blank">@MrYhira</a>か、<a href="http://nelog.jp/babylink-amazon" target="_blank">こちら</a>のコメント欄にお願いします。</p>
</div>

<%= render 'toppage' %>