<div class="page">
<h2>スタイル変更用テンプレート</h2>
<p>BabyLinkのスタイルシート書き換え用の雛形を以下に掲載しておきます。</p>
<p>スタイル変更時に不要な部分を削除して使うと便利です。以下は現在のスタイルです。</p>
<pre>
.babylink-box{
  overflow: hidden !important;
  font-size: small !important;
  zoom: 1 !important;
  margin: 15px 0 !important;
  text-align: left !important;
}
.babylink-image{
  float: left !important;
  margin: 0px 15px 10px 0px !important;
  width: 75px !important;
  height: 75px !important;
  text-align: center !important;
}
.babylink-image img{
  border-top: medium none !important;
  border-right: medium none !important;
  border-bottom: medium none !important;
  border-left: medium none !important;
}
.babylink-info{
  overflow: hidden !important;
  zoom: 1 !important;
  line-height: 120% !important;
}
.babylink-title{
  margin-bottom: 2px !important;
  line-height: 120% !important;
}
.babylink-manufacturer{
  margin-bottom: 5px;
}
.babylink-description{
  margin-top: 7px;
}
</pre>
</div>

<%= render 'toppage' %>