<div class="page">
  <h2>よくある質問と回答</h2>
  <dl class="faq">
    <dt>ツールのクレジットを記入する必要はないんですか？</dt>
    <dd>記入する必要はありません。シンプルなブログパーツにしたかったので。でも、よろしかったらTwitterやブログ記事で紹介していただくと嬉しいです。</dd>
    <dt>Amazonアソシエイトリンクに「ref=nosim」は、付けないのですか？</dt>
    <dd>昔は付けることで、紹介料が上がりましたが、今は変わらないので付けていません。</dd>
     
    <dt>作成したアソシエイトリンクのIDが作者のものに入れ替わることはありませんか？</dt>
    <dd>アソシエイト規約違反になるのでありません。</dd>
    <!-- 
    <dt></dt>
    <dd></dd>
     -->
  </dl>
</div>

<%= render 'toppage' %>