<div class="page">
  <h2>BabyLinkとは</h2>
  <p>BabyLinkは、Amazonの商品リンクを作製するためのツールです。</p>
  <p>ブログの文中でAmazon商品を紹介するのを想定して作りました。</p>
  <p>文中で商品を紹介するには、読み手の妨げにならないため、いかにもな仰々しいブログパーツはなるべく避けたいもの。</p>
  <p>そのためBabyLinkは、なるべく控え目でシンプルな商品リンクになるように作成しました。</p>
  <p>控えめでありながら、小さな画像も付くため、読み手にどのような商品か分りやすくもなっています。</p>
  <p>なるべくシンプルにするため、ツールのクレジット表記も取り除きました。というか、僕自身がクレジット表記がないアソシエイトリンクを作って利用したかったもので。</p>
  <p>宜しかったらご利用ください。</p>
</div>

<%= render 'toppage' %>